name: Build binary package

on:
  workflow_call:
    inputs:
      path: { type: string }
  workflow_dispatch:
    inputs:
      path: { type: string }

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - suite: pika
            arch: amd64
        suite: ["sid", "resolute", "noble", "trixie"]
        arch: ["amd64", "arm64", "armhf"]
      max-parallel: 4
    runs-on: ${{ startsWith(matrix.arch, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}

    steps:
      - name: Check out master
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: master

      - name: Install sbuild tools
        run: |
          sudo apt-get -y update
          sudo apt-get -y install --no-install-recommends \
            arch-test debian-archive-keyring distro-info-data gpg mmdebstrap qemu-user-static sbuild wget

      - name: Cache chroot
        id: cache-chroot
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/sbuild/${{ matrix.suite }}-${{ matrix.arch }}.tar
          key: ${{ matrix.suite }}-${{ matrix.arch }}-sbuild

      - name: Create chroot
        if: steps.cache-chroot.outputs.cache-hit != 'true'
        run: |
          suite=${{ matrix.suite }}
          arch=${{ matrix.arch }}

          mkdir -p ~/.cache/sbuild
          chroot=~/.cache/sbuild/${suite}-${arch}.tar

          if [ "$suite" = "pika" ]; then

            mirror=https://ppa.pika-os.com
            keyring=/tmp/pika-keyring.gpg
            wget -U "Debian APT-HTTP/1.3 (1.2.3)" -O- $mirror/key.gpg | gpg --dearmor > $keyring

            mmdebstrap -v --variant=buildd --architectures=$arch --components=nest --keyring=$keyring \
              --include=ca-certificates --customize-hook="
          rm \$1/etc/apt/sources.list
          cat >\$1/etc/apt/sources.list.d/pika.sources <<EOF
          Types: deb
          URIs: $mirror
          Suites: $suite
          Components: nest raven parrot cockatiel pigeon
          Signed-By: /etc/apt/keyrings/$(basename $keyring)
          EOF

          cp $keyring \$1/etc/apt/keyrings/
          cat >\$1/etc/apt/preferences.d/00-pika-prio <<EOF
          Package: *
          Pin: release a=pika,c=nest
          Pin-Priority: 450

          Package: libhsa-runtime64* hipcc* rocm* hipify*
          Pin: release a=pika,c=nest
          Pin-Priority: 100

          Package: *
          Pin: release a=pika,c=canary
          Pin-Priority: 451

          Package: libhsa-runtime64* hipcc* rocm* hipify*
          Pin: release a=pika,c=canary
          Pin-Priority: 100

          Package: *
          Pin: release a=pika,c=raven
          Pin-Priority: 452

          Package: *
          Pin: release a=pika,c=pigeon
          Pin-Priority: 452

          Package: libglvnd0 libegl1 libegl-dev libglx0 libglx-dev libgl1 libgl-dev libglvnd-core-dev libgles1 libgles2 libgles-dev libglvnd-dev libopengl0 libopengl-dev libxatracker2 libgbm1 libgbm-dev *mesa* *intel-media-va-driver* *libigdgmm*
          Pin: release a=pika,c=pigeon
          Pin-Priority: 100

          Package: amdgpu-core amdgpu-pro-core amdgpu-dkms amdgpu-pro-lib32
          Pin: release a=*
          Pin-Priority: -10

          Package: *
          Pin: release a=pika,c=parrot
          Pin-Priority: 452
          EOF

          chroot \$1 apt-get -y update
          chroot \$1 apt-get -y full-upgrade --no-install-recommends -o Dpkg::Options::=--force-confnew
              " $suite $chroot $mirror

          elif ubuntu-distro-info --all | grep -qx $suite; then
            mmdebstrap -v --variant=buildd --architectures=$arch --components=main,universe $suite $chroot
          else
            mmdebstrap -v --variant=buildd --architectures=$arch $suite $chroot
          fi

      - name: Build package
        run: |
          suite=${{ matrix.suite }}
          arch=${{ matrix.arch }}
          path=${{ inputs.path }}

          if [ "$suite" = "pika" ]; then
            cat >~/.sbuildrc <<EOF
          \$build_environment = {
            'DEB_BUILD_MAINT_OPTIONS'   => 'optimize=+lto',
            'DEB_CFLAGS_MAINT_APPEND'   => '-march=x86-64-v3 -O3 -flto=auto',
            'DEB_CPPFLAGS_MAINT_APPEND' => '-march=x86-64-v3 -O3 -flto=auto',
            'DEB_CXXFLAGS_MAINT_APPEND' => '-march=x86-64-v3 -O3 -flto=auto',
            'DEB_LDFLAGS_MAINT_APPEND'  => '-march=x86-64-v3 -O3 -flto=auto',
          };
          EOF
          fi

          mkdir /tmp/build
          sbuild -v --chroot-mode=unshare --arch=$arch -d $suite --build-dir /tmp/build $path

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.suite }}-${{ matrix.arch }}
          overwrite: 'true'
          path: /tmp/build/*.deb

  collect:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Check out master
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: master

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: /tmp/build
          pattern: build-*

      - name: Collect artifacts
        run: |
          name=$(basename ${{ inputs.path }})
          pool=$(dirname ${{ inputs.path }})

          suites=$(ls /tmp/build/ | cut -d- -f2 | sort | uniq)
          for suite in $suites; do
            mkdir -p $pool/$suite
            cp -u /tmp/build/build-$suite-*/* $pool/$suite/
          done

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add $pool
          git commit -m "Add $name build artifacts"
          git push origin master
