name: Build binary package

on:
  workflow_call:
    inputs:
      path: { type: string }
  workflow_dispatch:
    inputs:
      path: { type: string }

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        suite: ["sid", "resolute", "noble", "trixie"]
        arch: ["amd64", "arm64", "armhf"]
      max-parallel: 4
    runs-on: ${{ startsWith(matrix.arch, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}

    steps:
      - name: Check out master
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: master
          
      - name: Install sbuild tools
        run: |
          sudo apt-get -y update
          sudo apt-get -y install --no-install-recommends \
            arch-test debian-archive-keyring distro-info-data mmdebstrap qemu-user-static sbuild

      - name: Cache chroot
        id: cache-chroot
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/sbuild/${{ matrix.suite }}-${{ matrix.arch }}.tar
          key: ${{ matrix.suite }}-${{ matrix.arch }}-sbuild

      - name: Create chroot
        if: steps.cache-chroot.outputs.cache-hit != 'true'
        run: |
          suite=${{ matrix.suite }}
          arch=${{ matrix.arch }}

          mkdir -p ~/.cache/sbuild
          chroot=~/.cache/sbuild/${suite}-${arch}.tar
          
          if ubuntu-distro-info --all | grep -qx $suite; then
            mmdebstrap -v --mode=unshare --variant=buildd --architectures=$arch --components=main,universe $suite $chroot
          else
            mmdebstrap -v --mode=unshare --variant=buildd --architectures=$arch $suite $chroot
          fi

      - name: Build package
        run: |
          suite=${{ matrix.suite }}
          arch=${{ matrix.arch }}
          path=${{ inputs.path }}

          mkdir /tmp/build
          sbuild -v --chroot-mode=unshare --arch=$arch -d $suite --build-dir /tmp/build $path

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.suite }}-${{ matrix.arch }}
          overwrite: 'true'
          path: /tmp/build/*.deb

  collect:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Check out master
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: master

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: /tmp/build
          pattern: build-*

      - name: Collect artifacts
        run: |
          name=$(basename ${{ inputs.path }})
          pool=$(dirname ${{ inputs.path }})

          suites=$(ls /tmp/build/ | cut -d- -f2 | sort | uniq)
          for suite in $suites; do
            mkdir -p $pool/$suite
            cp -u /tmp/build/build-$suite-*/* $pool/$suite/
          done

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add $pool
          git commit -m "Add $name build artifacts"
          git push origin master
